@font-face {
    font-family: "Barlow";
    src: url("../fonts/Barlow-Regular.woff2") format("woff2"),
    url("../fonts/Barlow-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Barlow";
    src: url("../fonts/Barlow-Bold.woff2") format("woff2"),
    url("../fonts/Barlow-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Fraunces 9pt";
    src: url("../fonts/Fraunces9pt-Black.woff2") format("woff2"),
    url("../fonts/Fraunces9pt-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}


/* VARIABLES */

:root {
    --main-text-color-wihite : #fefcf7;
    --main-nav-color-grey: #83888f;
    --main-text-color-black : #333d4b;
    --main-bg-color : #fefcf7;
    --main-btn-color-grin: #0e8784;
}

/* GENERAL */

html {
    height: 100%;
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
}

img {
    display: block;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Barlow", "Arial", sans-serif;
    font-family: "Fraunces 9pt", "Times New Roman", serif;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

/* STICKY - FOOTER */

.site-main {
    flex-grow: 1;
}
.site-header {
    position: relative;
    z-index: 1;
    padding: 32px 0 42px 0;
}
.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-img {
    width: 163px;
    height: 18px;
}
.site-header__burger-menu {
    width: 16px;
    height: 15px;
    padding: 0;
    background-color: transparent;
    background-image: url("../images/mobile_nav.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}
.sitenav {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    z-index: 2;
    display: none;
    height: 100vh;
    background: linear-gradient(360deg, rgba(254, 252, 247, 0.504981) 0%, #fefcf7 55.94%);
}
.sitenav-open .sitenav{
    display: block;
}
.sitenav-open .site-header__burger-menu {
    background-image: url("../images/exit_icon.svg");
}
.sitenav-list {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    list-style: none;
    padding-left: 0;
    margin: 0;
    text-align: center;
}
.sitenav-item:not(:last-child) {
    margin-bottom: 32px;
}
.sitenav-link {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: var(--main-nav-color-grey);
    text-decoration: none;
}
.hero-inner {
    padding: 100px 0;
    background-image: url("../images/hero_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.hero-box {
    max-width: 279px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.hero-title {
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: var(--main-text-color-wihite);
    margin-bottom: 24px;
}
.hero-text {
    max-width: 279px;
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: var(--main-text-color-wihite);
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-bottom: 39px;
}
.hero-link {
    width: 217px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: var(--main-text-color-wihite);
    text-decoration: none;
    background-color: var(--main-btn-color-grin);
    border-radius: 6px;
}
.hero-link:hover {
    background-color: #66d2cf;
}
@media only screen and (min-width: 640px){
    .logo-img {
        width: 236px;
        height: 26px;
    }
    .site-header__burger-menu {
        display: none;
    }
    .sitenav {
        display: block;
        position: static;
        height: auto;
        background: transparent;
    }
    .sitenav-list {
        flex-direction: row;
        align-items: center;
        padding-top: 0;
    }
    .sitenav-item:not(:last-child) {
        margin-right: 32px;
        margin-bottom: 0;
    }
    .sitenav-link {
        font-family: "Barlow";
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: var(--main-nav-color-grey);
    }
    .hero-box {
        max-width: 398px;
        padding-left: 58px;
        align-items: flex-start;
        margin: 0;
    }
    .hero-title {
        font-size: 48px;
        line-height: 48px;
        text-align: start;
    }
    .hero-text {
        max-width: 400px;
        text-align: start;
    }

}
@media only screen and (min-width: 820px){
    .container {
        padding: 0 40px;
    }
    .hero-box {
        max-width: 579px;
        padding-left: 86px;
    }
    .hero-title {
        font-size: 72px;
        line-height: 72px;
    }
    .hero-text {
        max-width: 400px;
    }
}